extends baseviews/base_layout

block header-scripts
    title Gulp Demo Website 关于我们

block body-contents
    //- About Banner
    div.gb-site-index-banner
        div.am-g.am-g-fixed.am-center.am-padding-horizontal-lg
            h1 Banner For About Page
            p 关于我们标题图片

    //- Company Information
    div.am-g.am-g-fixed.am-center.am-padding-top-xl.am-padding-horizontal-lg
        h1.am-link-muted
            span.am-icon-building-o.am-margin-right-sm.custom-text-shadow
            span.custom-text-shadow 企业介绍 Company Info
        p!= data.intro

    //- Mottos
    div.am-g.am-g-fixed.am-center.am-padding-top-xl.am-padding-horizontal-lg
        h1.am-link-muted
            span.am-icon-envira.am-margin-right-sm.custom-text-shadow
            span.custom-text-shadow 箴言 Motto
        p.am-kai.am-text-xxl.am-text-center
            blockquote
                each mitem in data.mottos
                    span.am-text-xxl= mitem
                    br

    //- Slideshow For Compliments And Enterprise Culture Exhibitions
    div.am-g.am-g-fixed.am-center.am-padding-vertical-xl.am-padding-horizontal-lg
        h1.am-link-muted
            span.am-icon-gift.am-margin-right-sm.custom-text-shadow
            span.custom-text-shadow 企业荣誉与文化展示 Testimonials & Cultures
        div.am-slider.am-slider-default.am-slider-carousel#company-slider(data-am-flexslider="{itemWidth: 368, itemMargin: 5}")
            ul.am-slides
                each pitem in data.gallery
                    li
                        img(src=pitem)

    //- Contact Information
    div.am-g.am-g-fixed.am-center.am-padding-top-xl.am-padding-horizontal-lg
        h1.am-link-muted
            span.am-icon-map.am-margin-right-sm.custom-text-shadow
            span.custom-text-shadow 联系方式 Contacts
        div.am-g.am-margin-top-lg
            ul.am-avg-sm-1.am-avg-md-2
                each citem in data.contacts
                    li
                        div.am-padding-sm
                            h2= citem.name
                            p
                                span.am-icon-map-signs
                                span.am-margin-left-sm= citem.address
                            p
                                span.am-icon-phone
                                span.am-margin-left-sm= citem.phone
                            p
                                span.am-icon-envelope-o
                                a.am-margin-left-sm(href=`mailto:${citem.email}`)= citem.email
                            each oitem in citem.other
                                p
                                    span.am-icon-smile-o
                                    span.am-margin-left-sm!= oitem
                            if citem.image != ''
                                p
                                    img.am-img-responsive(src= citem.image)

    //- Staff/Leadership/Crew
    div.am-g.am-g-fixed.am-center.am-padding-top-xl.am-padding-horizontal-lg
        h1.am-link-muted
            span.am-icon-male.am-margin-right-sm.custom-text-shadow
            span.custom-text-shadow 团队精英 Elites
        div.am-g.am-margin-top-lg
            ul.am-avg-sm-1.am-avg-md-3
                each citem in data.staff
                    li
                        div.am-padding-xs
                            div.am-panel.am-panel-default
                                div.am-panel-bd.am-text-center
                                    div.am-padding-sm
                                        img.am-img-responsive.am-circle(src= citem.avatar)
                                    h3= citem.name
                                    p
                                        span.am-icon-mobile
                                        span.am-margin-left-sm= citem.phone
                                    p
                                        span.am-icon-envelope-o
                                        a.am-margin-left-sm(href=`mailto:${citem.email}`)= citem.email
                                    each oitem in citem.socialmedia
                                        p
                                            span.am-icon-smile-o
                                            span.am-margin-left-sm!= oitem

block footer-scripts
    script.
        $(document).ready(function() {
            $("ul.am-topbar-nav li:eq(4)").addClass("am-active");
        });
