extends baseviews/base_layout

block header-scripts
    title Gulp Demo Website 网站首页

block body-contents
    //- Index Banner
    div.gb-site-index-banner
        div.am-g.am-g-fixed.am-center.am-padding-horizontal-lg
            h1 Banner For Index Page
            p 首页的标题图片

    //- Random Motto
    each mitem in data.mottos
        span.hide-mottos.am-hide= mitem
    div.am-g.am-g-fixed.am-center.am-padding-top-xl.am-padding-horizontal-lg
        h1.am-link-muted
            span.am-icon-envira.am-margin-right-sm.custom-text-shadow
            span.custom-text-shadow 箴言 Motto
        p.am-kai.am-text-xxl.am-text-center
            strong 
                blockquote.am-text-xxl#rand-motto

    //- Products Link
    div.am-g.am-g-fixed.am-center.am-padding-top-xl.am-padding-horizontal-lg
        h1.am-link-muted
            span.am-icon-cubes.am-margin-right-sm.custom-text-shadow
            span.custom-text-shadow 最新产品 Products
        ul.am-avg-sm-1.am-avg-md-2.am-avg-lg-3
            each pitem in data.products_json
                li
                    a(href=`product_${pitem.id}.html`)
                        div.am-padding-bottom-sm.am-padding-right-xs
                            div.gb-site-products-panel.am-text-center
                                img.am-img-responsive(src= pitem.image)
                                h3= pitem.name
    div.am-g.am-g-fixed.am-text-right.am-padding-bottom-xl.am-padding-horizontal-lg
        a(href="product_list.html")
            span 更多产品
            span.am-margin-left-sm.am-icon-chevron-circle-right 

    //- Services Link
    div.am-g.am-g-fixed.am-center.am-padding-top-xl.am-padding-horizontal-lg
        h1.am-link-muted
            span.am-icon-gears.am-margin-right-sm.custom-text-shadow
            span.custom-text-shadow 技术服务 Services
        ul.am-avg-sm-1.am-avg-md-1.am-avg-lg-1
            each sitem in data.services_json
                li
                    a(href=`service_${sitem.id}.html`)
                        div.am-g.gb-site-services-panel.am-padding-vertical-lg
                            div.am-u-md-4.am-padding-bottom-lg
                                img(src= sitem.image)
                            div.am-u-md-8
                                h1= sitem.name
                                p= sitem.preface
    div.am-g.am-g-fixed.am-text-right.am-padding-bottom-xl.am-padding-horizontal-lg
        a(href="service_list.html")
            span 更多服务
            span.am-margin-left-sm.am-icon-chevron-circle-right 

    //- News Links Part
    div.am-g.am-g-fixed.am-padding-top-xl.am-padding-horizontal-lg
        h1.am-link-muted
            span.am-icon-bell-o.am-margin-right-sm.custom-text-shadow
            span.custom-text-shadow 企业新闻 News
    div.am-g.am-g-fixed.am-padding-vertical-xl.am-padding-horizontal-lg
        ul.am-avg-sm-1.am-avg-md-2
            each nitem in data.newsjsons
                li
                    div.am-margin-horizontal-xs
                        strong 
                            a(href=`./${nitem.id}.html`)= nitem.title
                        p.am-text-sm.am-link-muted= nitem.datetime
                        p.am-text-sm.am-link-muted= nitem.preface
    div.am-g.am-g-fixed.am-text-right.am-padding-bottom-xl.am-padding-horizontal-lg
        a(href="news_list_1.html")
            span 更多新闻
            span.am-margin-left-sm.am-icon-chevron-circle-right 

block footer-scripts
    script.
        $(document).ready(function() {
            $("ul.am-topbar-nav li:eq(0)").addClass("am-active");

            // Random motto
            var motto_count = $(".hide-mottos").length;
            var rand_motto_id = Math.trunc(Math.random() * motto_count); 
            $("#rand-motto").text($("span.hide-mottos:eq(" + rand_motto_id + ")").text());
        });
